
# Copyright (c) 2019-2021, The Linux Foundation. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are
# met:
#     * Redistributions of source code must retain the above copyright
#       notice, this list of conditions and the following disclaimer.
#     * Redistributions in binary form must reproduce the above
#       copyright notice, this list of conditions and the following
#       disclaimer in the documentation and/or other materials provided
#       with the distribution.
#     * Neither the name of The Linux Foundation nor the names of its
#       contributors may be used to endorse or promote products derived
#       from this software without specific prior written permission.
#
# THIS SOFTWARE IS PROVIDED "AS IS" AND ANY EXPRESS OR IMPLIED
# WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
# MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT
# ARE DISCLAIMED.  IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS
# BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
# CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
# SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR
# BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE
# OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN
# IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
#
#

on early-init

on init

on late-init

on post-fs

on late-fs

on post-fs-data
# Samsung Pay
    mkdir /efs/pfw_data 0760 vendor_spay vendor_spay

# MST/NFC Switch
    chown vendor_spay system /dev/mst_ctrl
    chmod 0660 /dev/mst_ctrl
    
#mAFPC
    mkdir /efs/afc 0760 system system
    exec - system system -- /system/bin/mafpc_write

on boot
# SDHMS Slowdown : Cpuset
    mkdir /dev/cpuset/abnormal
    write /dev/cpuset/abnormal/cpus 0-2
    copy /dev/cpuset/mems /dev/cpuset/abnormal/mems

    chown system system /dev/cpuset/abnormal
    chown system system /dev/cpuset/abnormal/tasks
    chown system system /dev/cpuset/abnormal/cpus
    chown system system /dev/cpuset/abnormal/cgroup.procs
    chmod 0664 /dev/cpuset/abnormal/tasks
    chmod 0664 /dev/cpuset/abnormal/cpus
    chmod 0664 /dev/cpuset/abnormal/cgroup.procs

    mkdir /dev/cpuset/moderate
    write /dev/cpuset/moderate/cpus 0-2
    copy /dev/cpuset/mems /dev/cpuset/moderate/mems

    chown system system /dev/cpuset/moderate
    chown system system /dev/cpuset/moderate/tasks
    chown system system /dev/cpuset/moderate/cpus
    chown system system /dev/cpuset/moderate/cgroup.procs
    chmod 0664 /dev/cpuset/moderate/tasks
    chmod 0664 /dev/cpuset/moderate/cpus
    chmod 0664 /dev/cpuset/moderate/cgroup.procs

    write /proc/sys/vm/swappiness 130

on shutdown

# service definition

# on property triggers

# Create carrier folder for HiddenMenu
on post-fs
    mkdir /efs/carrier 0755 radio system
    chown radio system /efs/carrier
    chown radio system /efs/carrier/HiddenMenu

# Pageboostd
on property:sys.boot_completed=1
    start pageboostd

service pageboostd /system/bin/pageboostd
    class main
    user system
    group system mount radio net_bt sdcard_rw shell media media_rw
    socket pageboostd seqpacket 0660 system system
    disabled

# HEIMDALL
on early-init
    chmod 0777 /dev/memcg
    chown system system /dev/memcg
    chown system system /dev/memcg/cgroup.procs

service heimdalld /system/bin/heimdalld
    class core
    user system
    group system readproc
    capabilities NET_ADMIN SYS_NICE KILL CHOWN
    socket heimdalld seqpacket 0660 system system
    oneshot
	

# some priv-apps of DSH bind mount to DSA priv-apps
on post-fs-data && property:ro.csc.sales_code=DSA
    umount /system/carrier
    mkdir /mnt/temp
    mount none /system/carrier/DSH /mnt/temp bind
    mount none /system/carrier/DSA /system/carrier bind
    mount none /mnt/temp/priv-app/VisualVoicemailDsh_Stub /system/carrier/priv-app/VisualVoicemailDsh_Stub bind
    umount /mnt/temp
    rmdir /mnt/temp
	
# some priv-apps of DSH & DSA bind mount to DSG priv-apps
on post-fs-data && property:ro.csc.sales_code=DSG
    umount /system/carrier
    mkdir /mnt/temp1
    mkdir /mnt/temp2
    mount none /system/carrier/DSH /mnt/temp1 bind
    mount none /system/carrier/DSA /mnt/temp2 bind
    mount none /system/carrier/DSG /system/carrier bind
    mount none /mnt/temp1/priv-app/NetworkCompanion /system/carrier/priv-app/NetworkCompanion bind
    mount none /mnt/temp1/priv-app/VisualVoicemailDsh_Stub /system/carrier/priv-app/VisualVoicemailDsh_Stub bind
    mount none /mnt/temp2/priv-app/Opportunistic /system/carrier/priv-app/Opportunistic bind
    umount /mnt/temp1
    umount /mnt/temp2
    rmdir /mnt/temp1
    rmdir /mnt/temp2

# add extension priv-apps of DSH bind mount to TMB priv-apps
on post-fs-data && property:ro.csc.sales_code=TMB
    umount /system/carrier
    mkdir /mnt/temp
    mount none /system/carrier/DSH /mnt/temp bind
    mount none /system/carrier/TMB /system/carrier bind
    mount none /mnt/temp/priv-app/SprintAndroidExtension2DSH /system/carrier/priv-app/SprintAndroidExtension2DSH bind
    umount /mnt/temp
    rmdir /mnt/temp
	
# add extension priv-apps of DSH bind mount to TMK priv-apps
on post-fs-data && property:ro.csc.sales_code=TMK
    umount /system/carrier
    mkdir /mnt/temp
    mount none /system/carrier/DSH /mnt/temp bind
    mount none /system/carrier/TMK /system/carrier bind
    mount none /mnt/temp/priv-app/SprintAndroidExtension2DSH /system/carrier/priv-app/SprintAndroidExtension2DSH bind
    umount /mnt/temp
    rmdir /mnt/temp
	
# add extension priv-apps of DSH bind mount to ASR priv-apps
on post-fs-data && property:ro.csc.sales_code=ASR
    umount /system/carrier
    mkdir /mnt/temp
    mount none /system/carrier/DSH /mnt/temp bind
    mount none /system/carrier/ASR /system/carrier bind
    mount none /mnt/temp/priv-app/SprintAndroidExtension2DSH /system/carrier/priv-app/SprintAndroidExtension2DSH bind
    umount /mnt/temp
    rmdir /mnt/temp

# some priv-apps of DSA bind mount to DSH priv-apps
on post-fs-data && property:ro.csc.sales_code=DSH
    umount /system/carrier
    mkdir /mnt/temp
    mount none /system/carrier/DSA /mnt/temp bind
    mount none /system/carrier/DSH /system/carrier bind
    mount none /mnt/temp/priv-app/Opportunistic /system/carrier/priv-app/Opportunistic bind
    umount /mnt/temp
    rmdir /mnt/temp		
	
# DCK properties based on target
# DigitalKey (Supported Country) : KR,US,GB,DE,FR,IT,ES,AE,CH,KZ,SE,VN,ZA,AU,BR,CA,HK,IN,MY,SG,TW
on property:sys.boot_completed=1 && property:ro.csc.countryiso_code=KR
    setprop ro.gms.dck.eligible_wcc 3
on property:sys.boot_completed=1 && property:ro.csc.countryiso_code=US
    setprop ro.gms.dck.eligible_wcc 3
on property:sys.boot_completed=1 && property:ro.csc.countryiso_code=GB
    setprop ro.gms.dck.eligible_wcc 3
on property:sys.boot_completed=1 && property:ro.csc.countryiso_code=GB && property:ro.oem.key2=MET
    setprop ro.gms.dck.eligible_wcc 0
on property:sys.boot_completed=1 && property:ro.csc.countryiso_code=GB && property:ro.oem.key2=VDI
    setprop ro.gms.dck.eligible_wcc 0
on property:sys.boot_completed=1 && property:ro.csc.countryiso_code=GB && property:ro.oem.key2=TSI
    setprop ro.gms.dck.eligible_wcc 0
on property:sys.boot_completed=1 && property:ro.csc.countryiso_code=GB && property:ro.oem.key2=3IE
    setprop ro.gms.dck.eligible_wcc 0
on property:sys.boot_completed=1 && property:ro.csc.countryiso_code=DE
    setprop ro.gms.dck.eligible_wcc 3
on property:sys.boot_completed=1 && property:ro.csc.countryiso_code=FR
    setprop ro.gms.dck.eligible_wcc 3
on property:sys.boot_completed=1 && property:ro.csc.countryiso_code=IT
    setprop ro.gms.dck.eligible_wcc 3
on property:sys.boot_completed=1 && property:ro.csc.countryiso_code=ES
    setprop ro.gms.dck.eligible_wcc 3
on property:sys.boot_completed=1 && property:ro.csc.countryiso_code=AE
    setprop ro.gms.dck.eligible_wcc 3
on property:sys.boot_completed=1 && property:ro.csc.countryiso_code=AE && property:ro.oem.key2=AFR
    setprop ro.gms.dck.eligible_wcc 0
on property:sys.boot_completed=1 && property:ro.csc.countryiso_code=CH
    setprop ro.gms.dck.eligible_wcc 3
on property:sys.boot_completed=1 && property:ro.csc.countryiso_code=KZ
    setprop ro.gms.dck.eligible_wcc 3
on property:sys.boot_completed=1 && property:ro.csc.countryiso_code=SE
    setprop ro.gms.dck.eligible_wcc 3
on property:sys.boot_completed=1 && property:ro.csc.countryiso_code=SE && property:ro.oem.key2=TEN
    setprop ro.gms.dck.eligible_wcc 0
on property:sys.boot_completed=1 && property:ro.csc.countryiso_code=VN
    setprop ro.gms.dck.eligible_wcc 3
on property:sys.boot_completed=1 && property:ro.csc.countryiso_code=VN && property:ro.oem.key2=XEV
    setprop ro.gms.dck.eligible_wcc 0
on property:sys.boot_completed=1 && property:ro.csc.countryiso_code=ZA
    setprop ro.gms.dck.eligible_wcc 3
on property:sys.boot_completed=1 && property:ro.csc.countryiso_code=ZA && property:ro.oem.key2=XFE
    setprop ro.gms.dck.eligible_wcc 0
on property:sys.boot_completed=1 && property:ro.csc.countryiso_code=AU
    setprop ro.gms.dck.eligible_wcc 3
on property:sys.boot_completed=1 && property:ro.csc.countryiso_code=BR
    setprop ro.gms.dck.eligible_wcc 3
on property:sys.boot_completed=1 && property:ro.csc.countryiso_code=CA
    setprop ro.gms.dck.eligible_wcc 3
on property:sys.boot_completed=1 && property:ro.csc.countryiso_code=HK
    setprop ro.gms.dck.eligible_wcc 3
on property:sys.boot_completed=1 && property:ro.csc.countryiso_code=IN
    setprop ro.gms.dck.eligible_wcc 3
on property:sys.boot_completed=1 && property:ro.csc.countryiso_code=MY
    setprop ro.gms.dck.eligible_wcc 3
on property:sys.boot_completed=1 && property:ro.csc.countryiso_code=SG
    setprop ro.gms.dck.eligible_wcc 3
on property:sys.boot_completed=1 && property:ro.csc.countryiso_code=TW
    setprop ro.gms.dck.eligible_wcc 3
